{% if alienvault_result %}
    {% if indicator_type == 'IPv4' %}
        <table class="table table-hover table-borderless table-dark mt-1">
            <tbody>
                {% if alienvault_result.tags %}
                    <tr>
                        <td>Теги:</td>
                        <td>{{ alienvault_result.tags }}</td>
                    </tr>
                {% endif %}
                {% if alienvault_result.adversaries %}
                    <tr>
                        <td>Субъекты угрозы:</td>
                        <td>{{ alienvault_result.adversaries }}</td>
                    </tr>
                {% endif %}
                {% if alienvault_result.malware_families %}
                    <tr>
                        <td>Семейства ВПО:</td>
                        <td>{{ alienvault_result.malware_families }}</td>
                    </tr>
                {% endif %}
                {% if alienvault_result.industries %}
                    <tr>
                        <td>Цели:</td>
                        <td>{{ alienvault_result.industries }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td>Количество доменных имен:</td>
                    <td>{{ alienvault_result.passive_dns_count }}</td>
                </tr>
                {% if alienvault_result.passive_dns %}
                    <tr>
                        <td colspan="2">
                            <table id="example"
                                   class="table table-hover table-borderless table-dark table-fixed caption-top mt-1">
                                <thead>
                                    <tr>
                                        <th>IP Address</th>
                                        <th>First Seen</th>
                                        <th>Last Seen</th>
                                        <th>Hostname</th>
                                        <th>Record Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for record in alienvault_result.passive_dns %}
                                        <tr>
                                            <td>{{ record.address }}</td>
                                            <td>{{ record.first }}</td>
                                            <td>{{ record.last }}</td>
                                            <td>{{ record.hostname }}</td>
                                            <td>{{ record.record_type }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td colspan="2">
                        <a href="{{ alienvault_result.source_link }}"
                           class="link-light link-offset-3"
                           target="_blank">Перейти в источник</a>
                    </td>
                </tr>
            </tbody>
        </table>
    {% elif indicator_type == 'Hostname' %}
        <table class="table table-hover table-borderless table-dark mt-1">
            <tbody>
                {% if alienvault_result.tags %}
                    <tr>
                        <td>Теги:</td>
                        <td>{{ alienvault_result.tags }}</td>
                    </tr>
                {% endif %}
                {% if alienvault_result.adversaries %}
                    <tr>
                        <td>Субъекты угрозы:</td>
                        <td>{{ alienvault_result.adversaries }}</td>
                    </tr>
                {% endif %}
                {% if alienvault_result.malware_families %}
                    <tr>
                        <td>Семейства ВПО:</td>
                        <td>{{ alienvault_result.malware_families }}</td>
                    </tr>
                {% endif %}
                {% if alienvault_result.industries %}
                    <tr>
                        <td>Цели:</td>
                        <td>{{ alienvault_result.industries }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td>Количество DNS-записей:</td>
                    <td>{{ alienvault_result.passive_dns_count }}</td>
                </tr>
                {% if alienvault_result.passive_dns %}
                    <tr>
                        <td colspan="2">
                            <table id="example"
                                   class="table table-hover table-borderless table-dark table-fixed caption-top mt-1">
                                <thead>
                                    <tr>
                                        <th>IP Address</th>
                                        <th>First Seen</th>
                                        <th>Last Seen</th>
                                        <th>Hostname</th>
                                        <th>Record Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for record in alienvault_result.passive_dns %}
                                        <tr>
                                            <td>{{ record.address }}</td>
                                            <td>{{ record.first }}</td>
                                            <td>{{ record.last }}</td>
                                            <td>{{ record.hostname }}</td>
                                            <td>{{ record.record_type }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td colspan="2">
                        <a href="{{ alienvault_result.source_link }}"
                           class="link-light link-offset-3"
                           target="_blank">Перейти в источник</a>
                    </td>
                </tr>
            </tbody>
        </table>
    {% elif indicator_type == 'Domain' %}
        <table class="table table-hover table-borderless table-dark mt-1">
            <tbody>
                {% if alienvault_result.tags %}
                    <tr>
                        <td>Теги:</td>
                        <td>{{ alienvault_result.tags }}</td>
                    </tr>
                {% endif %}
                {% if alienvault_result.adversaries %}
                    <tr>
                        <td>Субъекты угрозы:</td>
                        <td>{{ alienvault_result.adversaries }}</td>
                    </tr>
                {% endif %}
                {% if alienvault_result.malware_families %}
                    <tr>
                        <td>Семейства ВПО:</td>
                        <td>{{ alienvault_result.malware_families }}</td>
                    </tr>
                {% endif %}
                {% if alienvault_result.industries %}
                    <tr>
                        <td>Цели:</td>
                        <td>{{ alienvault_result.industries }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td>Количество DNS-записей:</td>
                    <td>{{ alienvault_result.passive_dns_count }}</td>
                </tr>
                {% if alienvault_result.passive_dns %}
                    <tr>
                        <td colspan="2">
                            <table id="example"
                                   class="table table-hover table-borderless table-dark table-fixed caption-top mt-1">
                                <thead>
                                    <tr>
                                        <th>IP Address</th>
                                        <th>First Seen</th>
                                        <th>Last Seen</th>
                                        <th>Hostname</th>
                                        <th>Record Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for record in alienvault_result.passive_dns %}
                                        <tr>
                                            <td>{{ record.address }}</td>
                                            <td>{{ record.first }}</td>
                                            <td>{{ record.last }}</td>
                                            <td class="td_value">{{ record.hostname }}</td>
                                            <td>{{ record.record_type }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td colspan="2">
                        <a href="{{ alienvault_result.source_link }}"
                           class="link-light link-offset-3"
                           target="_blank">Перейти в источник</a>
                    </td>
                </tr>
            </tbody>
        </table>
    {% elif indicator_type == 'Hash' %}
        <table class="table table-hover table-borderless table-dark mt-1">
            <tbody>
                {% if alienvault_result.tags %}
                    <tr>
                        <td>Теги:</td>
                        <td>{{ alienvault_result.tags }}</td>
                    </tr>
                {% endif %}
                {% if alienvault_result.adversaries %}
                    <tr>
                        <td>Субъекты угрозы:</td>
                        <td>{{ alienvault_result.adversaries }}</td>
                    </tr>
                {% endif %}
                {% if alienvault_result.malware_families %}
                    <tr>
                        <td>Семейства ВПО:</td>
                        <td>{{ alienvault_result.malware_families }}</td>
                    </tr>
                {% endif %}
                {% if alienvault_result.industries %}
                    <tr>
                        <td>Цели:</td>
                        <td>{{ alienvault_result.industries }}</td>
                    </tr>
                {% endif %}
                {% if alienvault_result.md5 %}
                    <tr>
                        <td>MD5:</td>
                        <td>{{ alienvault_result.md5 }}</td>
                    </tr>
                {% endif %}
                {% if alienvault_result.sha1 %}
                    <tr>
                        <td>SHA1:</td>
                        <td>{{ alienvault_result.sha1 }}</td>
                    </tr>
                {% endif %}
                {% if alienvault_result.sha256 %}
                    <tr>
                        <td>SHA256:</td>
                        <td class="td_value">{{ alienvault_result.sha256 }}</td>
                    </tr>
                {% endif %}
                {% if alienvault_result.filesize %}
                    <tr>
                        <td>Размер файла:</td>
                        <td>{{ alienvault_result.filesize }}</td>
                    </tr>
                {% endif %}
                {% if alienvault_result.file_type %}
                    <tr>
                        <td>Тип файла:</td>
                        <td>{{ alienvault_result.file_type }}</td>
                    </tr>
                {% endif %}
                {% if alienvault_result.metaextract_urls %}
                    <tr>
                        <td>Взаимодействует с URL:</td>
                        <td>{{ alienvault_result.metaextract_urls }}</td>
                    </tr>
                {% endif %}
                {% if alienvault_result.metaextract_ips %}
                    <tr>
                        <td>Взаимодействует с IP:</td>
                        <td>{{ alienvault_result.metaextract_ips }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td colspan="2">
                        <a href="{{ alienvault_result.source_link }}"
                           class="link-light link-offset-3"
                           target="_blank">Перейти в источник</a>
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}
{% else %}
    <table class="table table-hover table-bordered table-dark">
        <tbody>
            <tr>
                <td>Данные отсутствуют</td>
                <td>Данные отсутствуют</td>
            </tr>
        </tbody>
    </table>
{% endif %}