<table class="table table-hover table-borderless table-dark mt-1"
       id="{{ service_content }}">
    <tbody>
        <tr class="placeholder-glow">
            <td class="col-4">
                <span class="placeholder col-12"></span>
            </td>
            <td>
                <span class="placeholder col-12"></span>
            </td>
        </tr>
        <tr class="placeholder-glow">
            <td class="col-4">
                <span class="placeholder col-12"></span>
            </td>
            <td>
                <span class="placeholder col-12"></span>
            </td>
        </tr>
        <tr class="placeholder-glow">
            <td class="col-4">
                <span class="placeholder col-12"></span>
            </td>
            <td>
                <span class="placeholder col-12"></span>
            </td>
        </tr>
        <tr class="placeholder-glow">
            <td class="col-4">
                <span class="placeholder col-12"></span>
            </td>
            <td>
                <span class="placeholder col-12"></span>
            </td>
        </tr>
        <tr class="placeholder-glow">
            <td class="col-4">
                <span class="placeholder col-12"></span>
            </td>
            <td>
                <span class="placeholder col-12"></span>
            </td>
        </tr>
        <tr class="placeholder-glow">
            <td class="col-4">
                <span class="placeholder col-12"></span>
            </td>
            <td>
                <span class="placeholder col-12"></span>
            </td>
        </tr>
        <tr class="placeholder-glow">
            <td class="col-4">
                <span class="placeholder col-12"></span>
            </td>
            <td>
                <span class="placeholder col-12"></span>
            </td>
        </tr>
        <tr class="placeholder-glow">
            <td class="col-4">
                <span class="placeholder col-12"></span>
            </td>
            <td>
                <span class="placeholder col-12"></span>
            </td>
        </tr>
    </tbody>
</table>
