body {
    padding-top: 60px;
    padding-left: 50px;
    padding-right: 50px;
}

.form-control {
    background-color: rgba(0, 0, 0, 0);
    margin-left: 0;

    /* Убирает подсветку у поля ввода при фокусе */
    &:focus {
        box-shadow: none;
    }
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* Класс для слишком длинных значений ячеек таблицы (разрывает слова) */
.td_value {
    overflow-wrap: break-word;
    /* Перенос слов при необходимости */
    white-space: normal;
    /* Обычное отображение текста внутри ячейки */
    word-break: break-all;
}

/* 
Почему то для этих наследников input-group margin-left высчитывается по формуле calc(var(--bs-border-width) * -1) из-за чего срезается 1 пиксель правой границы
Пофиксить удалось только захардкодив margin-left
*/
.input-group> :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: 0px;
}

/*
У navbar-brand есть margin-right, но нет margin-left
Добавил равный margin-right
*/
.navbar-brand {
    margin-left: var(--bs-navbar-brand-margin-end);
}

.nav .nav-link {
    color: white !important;
}

.nav .active {
    background-color: #212529 !important;
    color: white !important;
    border-color: #1A1D1F !important;
    border-bottom: 0 !important;
}

.dt-search .form-control {
    background-color: #212529 !important;
    color: white !important;
    border-color: #1A1D1F !important;
    border-width: 2px;
}

::placeholder {
    color: grey !important;
}

.card-body {
    background-color: #212529 !important;
}

.card {
    background-color: #1A1D1F !important;
    border: 2px solid;
    border-color: #1A1D1F !important;
}

.table {
    background-color: #212529 !important;
}

.pre-scrollable {
    max-height: 340px;
    overflow-y: scroll;
}

.accordion {
    --bs-accordion-btn-color: white;
    --bs-accordion-btn-bg: #1A1D1F;
    --bs-accordion-active-color: white;
    --bs-accordion-active-bg: #212529;
    --bs-accordion-bg: #212529;
    --bs-accordion-border-width: 0px;
    --bs-accordion-btn-focus-box-shadow: none;
}

td {
    padding-left: 20px !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #212529 inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}

/* bootstrap hack: fix content width inside hidden tabs */
.tab-content>.tab-pane:not(.active)

/* , .pill-content > .pill-pane:not(.active) */
    {
    display: block;
    height: 0;
    overflow-y: hidden;
}

/* bootstrap hack end */

th {
    background-color: #1A1D1F !important;
}

.dt-scroll-body {
    border-color: #1A1D1F !important;
}

.dt-scroll {
    border-radius: var(--bs-border-radius);
}

tr.selected td {
    box-shadow: inset 0 0 0 9999px rgba(26, 29, 31, 0.95) !important;
    color: #1A1D1F;
}

.btn-main {
    --bs-btn-color: #fff;
    --bs-btn-bg: #212529;
    --bs-btn-border-color: #1A1D1F;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #424649;
    --bs-btn-hover-border-color: #373b3e;
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4d5154;
    --bs-btn-active-border-color: #373b3e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #212529;
    --bs-btn-disabled-border-color: #212529;
}

.list-group-item-dark {
    --bs-list-group-bg: rgb(33, 37, 41);
}

.list-group-link {
    text-decoration: none;
}

.list-group {
    max-height: 500px;
    margin-bottom: 10px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}