body {
    padding-top: 60px;
    padding-left: 50px;
    padding-right: 50px;
}

.form-control {
    background-color: rgba(0, 0, 0, 0);
    margin-left: 0;

    /* Убирает подсветку у поля ввода при фокусе */
    &:focus {
        box-shadow: none;
    }
}

/* Класс для слишком длинных значений ячеек таблицы (разрывает слова) */
.td_value {
    overflow-wrap: break-word;
    /* Перенос слов при необходимости */
    white-space: normal;
    /* Обычное отображение текста внутри ячейки */
    word-break: break-all;
}

/* 
Почему то для этих наследников input-group margin-left высчитывается по формуле calc(var(--bs-border-width) * -1) из-за чего срезается 1 пиксель правой границы
Пофиксить удалось только захардкодив margin-left
*/
.input-group> :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: 1px;
}

/*
У navbar-brand есть margin-right, но нет margin-left
Добавил равный margin-right
*/
.navbar-brand {
    margin-left: var(--bs-navbar-brand-margin-end);
}

.nav .nav-link {
    color: white !important;
}

.nav .active {
    background-color: #212529 !important;
    color: white !important;
    border-color: #1A1D1F !important;
    border-bottom: 0 !important;
}

.card-body {
    background-color: #212529 !important;
}

.card {
    background-color: #1A1D1F !important;
    border: 2px solid;
    border-color: #1A1D1F !important;
}

.table {
    background-color: #212529 !important;
}

.pre-scrollable {
    max-height: 340px;
    overflow-y: scroll;
}

.accordion {
	--bs-accordion-btn-color: white;
	--bs-accordion-btn-bg: #1A1D1F;
	--bs-accordion-active-color: white;
	--bs-accordion-active-bg: #212529;
    --bs-accordion-bg: #212529;
    --bs-accordion-border-width: 0px;
    --bs-accordion-btn-focus-box-shadow: none;
}

td {
    padding-left: 20px !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #212529 inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}